.dashboard-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-main {
  flex-grow: 1;
}

.dashboard-container {
    margin-bottom: 2rem;
}

.typography {
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: #111827; /* gray-900 */
    letter-spacing: .06rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .25rem;
}